h1 {
    color: black;
    font-size:xx-large;
    font-variant-position: normal;
    font-family: "Times new roman";
        text-align: center;
}
body
{
    
    background-image: url('sl_031520_28970_32.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
div.Page{
    width: 400px;
    margin: 100px auto 0px auto;


}
h2{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
   padding: 20px;
   font-family: 'arial'; 
}

div.Register{
    background-color:black;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border : 1px solid rgba(225, 225, 225, 0.3) 
    

}
label{
     font-size: 20px;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     

}
#sub{
    size: 80px;
}